<h2>Create a new drone</h2>
<div>
    <form  method="POST"  action="/drones/create">
            Name = <input name="name">
            <br>
            Propellers = <input name="propellers">
            <br>
            Max Speed = <input name="maxSpeed">
            <br>
        <button type="submit">Submit</button>

    </form>
</div>